<div class="control-group">
  <label class="control-label" for="component_video_url">Video Url</label>
  <div class="controls">
    <input id="component_video_url" name="component[video_url]" type="text" />
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="component_size">Size</label>
  <div class="controls">
    <select id="component_size" name="component[size]">
      <option value="9">9</option>
      <option value="12">12</option>
    </select>
  </div>
</div>
