<h2>Interns & Staff</h2>

<h4>Who Are We?</h4>
<p>During peak semesters, the State Farm Research and Development Center employs more than 70 interns. Collaboration and mentoring between Research and Development Center interns and State Farm staff are key components of the Research and Development Center experience.<p>
<p>Meet a few of our students. Find out what they like most about their Research and Development Center internship — and their favorite places to hang out around campus.</p>
<p>Meet our staff and learn more about their vision for the Research and Development Center.</p>

<h4>Staff</h4>
<ul class="employees">
  <% if admin_signed_in? %>
    <li class="employee">
      <%= link_to(image_tag('new_employee.png', :class => 'shadow'),
        new_employee_path) %>
    </li>
  <% end %>
  <%= render :partial => 'employees/employee', :collection => @staff %>
</ul>

<h4>Interns</h4>
<ul class="employees">
  <% if admin_signed_in? %>
    <li class="employee">
      <%= link_to(image_tag('new_employee.png', :class => 'shadow'),
        new_employee_path) %>
    </li>
  <% end %>
  <%= render :partial => 'employees/employee', :collection => @interns %>
</ul>
