<div class="add_component">
  <a href="#text-box-modal" role="button" class="btn" data-toggle="modal">
    Add Text Section<span class="icon icon-plus"></span></a>
  <a href="#img-slider-modal" role="button" class="btn" data-toggle="modal">
    Add Image Slider<span class="icon icon-plus"></span></a>
  <a href="#youtube-video-modal" role="button" class="btn" data-toggle="modal">
    Add Youtube Video<span class="icon icon-plus"></span></a>
  <a href="#twitter-feed-modal" role="button" class="btn" data-toggle="modal">
    Add Twitter Feed<span class="icon icon-plus"></span></a>
</div>
