<h2>Opportunities</h2>

<h4>Job Board</h4>
<p>An internship at the RDC is not a one-size-fits-all program. Your role is about your strengths and interests, as well as inspired collaboration across diverse disciplines.</p>
<p>The State Farm Research and Development Center has it all: Undergraduate or graduate internship positions, full time or part time roles, and a summer or academic year internship experience.</p>
<p>You can apply to join our RDC team at State Farm Careers using an available job code selected from positions listed below:</p>

<% if admin_signed_in? %>
  <%= link_to 'New Job', new_job_path, :class => 'btn'  %>
<% end %>

<%= render :partial => 'jobs/job_board' %>
