<div class="row">
  <div class="span8">
    <%= image_tag @employee.avatar.url(:original), :id => 'avatar_full' %>
  </div>

  <div id="avatar_cropped_container" class="span4">
    <p>Preview:</p>
    <%= image_tag @employee.avatar.url(:original), :id => 'avatar_cropped' %>
  </div>
</div>

<%= link_to 'Back', employee_path(@employee) %>
