<h1>Pages#admin</h1>
<p>Find me in app/views/pages/admin.html.erb</p>

<ul class="admin_links">
  <li><%= link_to 'Quotes', quotes_path %></li>
  <li><%= link_to 'Brochures', brochures_path %></li>
</ul>
