/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */

body {
  padding-top:160px;
}

/* HEADER */
div#header_logos {
  background:url(header_red_gradient.png) no-repeat center center #920000;
  padding:10px 0;
}

div#header_rdc_logo {
  width:450px;
  margin-left:90px;
}

div#header_uiuc_logo {
  width:320px;
  margin-top:15px;
  margin-left:150px;
}

div#header_statefarm_logo {
  width:154px;
  float:right;
  margin-top:-40px;
  margin-right:110px;
}
