/*
 *= require jquery.Jcrop
 */

#avatar_full {
  max-width:none;
}

#avatar_cropped_container {
  width:100px;
  height:100px;
  overflow:hidden
}

#avatar_cropped {
  max-width:none;
}

#crop_results {
  display:none;
}
