body {
  background-color:#f1f1f1;
  color:#555;
  /* Padding to account for fixed-top header */
  padding-top:118px;
}

/* PAGE */
div#page {
  background-color:#fafafa;
}

/* Changing default Bootstrap navbar style */
.navbar-inner {
  background-color:#fafafa;
  background-image:none;
  background-repeat:no-repeat;
  filter:none;
}

.navbar .nav {
  font-size:16px;
}

.navbar .nav > li {
  padding:0 12px;
}

/* HEADER */
div#header_logos {
  background:url(header_red_gradient.png) no-repeat center center #920000;
  padding:10px 0;
}

div#header_rdc_logo {
  margin-left:90px;
  width:450px;
}

div#header_uiuc_logo {
  margin-left:150px;
  margin-top:15px;
  width:320px;
}

div#header_statefarm_logo {
  float:right;
  margin-right:110px;
  margin-top:-40px;
  width:154px;
}

/* FOOTER */
footer {
  border-top: 1px solid #c8c8c8;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding:10px 0;
}

div.quote {
  text-align:center;
  padding:20px 0 0 0;
}

div#social_media {
  float:right;
  padding-top:10px;
}

div#social_media div.icon {
  float:left;
  padding:10px 10px;
}

div#legal {
  clear:both;
  font-family:arial, sans-serif;
  font-size:10px;
  padding:10px 0;
  text-align:center;
}
