body {
  background-color:#f5f5f5;
  color:#555;
  padding-top:160px;
}

/* HEADER */
div#header_logos {
  background:url(header_red_gradient.png) no-repeat center center #920000;
  padding:10px 0;
}

div#header_rdc_logo {
  margin-left:90px;
  width:450px;
}

div#header_uiuc_logo {
  margin-left:150px;
  margin-top:15px;
  width:320px;
}

div#header_statefarm_logo {
  float:right;
  margin-right:110px;
  margin-top:-40px;
  width:154px;
}

/* FOOTER */
footer {
  background-color:
}

div#social_media {
  float:right;
}

div.icon {
  float:left;
  padding:0 10px;
}
